*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}



:root{

    font-size: 62.5%;

    /* Blue */

    --Blue-Light: #e7fcff;

    --Blue-Light-hover: #dbfafe;

    --Blue-Light-active: #b5f5fd;

    --Blue-Normal: #0fe0fa;

    --Blue-Normal-hover: #0ecae1;

    --Blue-Normal-active: #0cb3c8;

    --Blue-Dark: #0ba8bc;

    --Blue-Dark-hover: #098696;

    --Blue-Dark-active: #076570;

    --Blue-Darker: #054e58;



    /* Purple */

    --Purple-Light: #f2f3fc;

    --Purple-Light-hover: #ecedfb;

    --Purple-Light-active: #d8daf7;

    --Purple-Normal: #8189e5;

    --Purple-Normal-hover: #747bce;

    --Purple-Normal-active: #676eb7;

    --Purple-Dark: #6167ac;

    --Purple-Dark-hover: #4d5289;

    --Purple-Dark-active: #3a3e67;

    --Purple-Darker: #2d3050;



    /* Pink */

    --Pink-Light: #fdebfa;

    --Pink-Light-hover: #fce1f8;

    --Pink-Light-active: #fac2f0;

    --Pink-Normal: #ee39cf;

    --Pink-Normal-hover: #d633ba;

    --Pink-Normal-active: #be2ea6;

    --Pink-Dark: #b32b9b;

    --Pink-Dark-hover: #8f227c;

    --Pink-Dark-active: #6b1a5d;

    --Pink-Darker: #531448;



}