* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .inder-regular {
        font-family: "Inder", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

}



:root {

    font-size: 62.5%;

    /* Blue */

    --Blue-Light: #e7fcff;

    --Blue-Light-hover: #dbfafe;

    --Blue-Light-active: #b5f5fd;

    --Blue-Normal: #0fe0fa;

    --Blue-Normal-hover: #0ecae1;

    --Blue-Normal-active: #0cb3c8;

    --Blue-Dark: #0ba8bc;

    --Blue-Dark-hover: #098696;

    --Blue-Dark-active: #076570;

    --Blue-Darker: #054e58;



    /* Purple */

    --Purple-Light: #f2f3fc;

    --Purple-Light-hover: #ecedfb;

    --Purple-Light-active: #d8daf7;

    --Purple-Normal: #8189e5;

    --Purple-Normal-hover: #747bce;

    --Purple-Normal-active: #676eb7;

    --Purple-Dark: #6167ac;

    --Purple-Dark-hover: #4d5289;

    --Purple-Dark-active: #3a3e67;

    --Purple-Darker: #2d3050;



    /* Pink */

    --Pink-Light: #fdebfa;

    --Pink-Light-hover: #fce1f8;

    --Pink-Light-active: #fac2f0;

    --Pink-Normal: #ee39cf;

    --Pink-Normal-hover: #d633ba;

    --Pink-Normal-active: #be2ea6;

    --Pink-Dark: #b32b9b;

    --Pink-Dark-hover: #8f227c;

    --Pink-Dark-active: #6b1a5d;

    --Pink-Darker: #531448;



}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-image: url('./assets/imagemDeFundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--Blue-Dark);
    margin-bottom: auto;
}

.logo {
    margin-right: auto;
    margin-left: 1rem;
}

.semOLogo {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-left: 13rem;
    padding-block: .5rem;
    width: 50rem;
    margin-left: auto;
}

li {
    list-style-type: none;
    background: var(--Pink-Normal-hover);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 7rem;

    a {
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
    }
}

main {
    margin-top: 10rem;
    margin-left: 10rem;
}

.elemento {
    background: #008000;
    height: 5rem;
    width: 5rem;
    border-radius: .2rem;


    .simbuloAtomico{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .numeroAtomico{
        margin-left: .5rem;
    }

}

.detales{
    background: #008000;
    height: 15rem;
    width: 15rem;
    border-radius: .2rem;
    padding: .5rem;

    .simbuloAtomico{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.8rem;
    }

    .nomeElemento{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .numeroAtomico{
        margin-left: 2rem;
        font-size: 1.2rem;
    }

    .dados{
        gap: 1rem;
    }
}